
<div>
    <app-show-players [players]="players"></app-show-players>
</div>

<div *ngIf="gameStarted">

    <div>
        <app-question-list [questions]="questions">

        </app-question-list>
    </div>

    <div>
        <app-get-question-answer [question]="question">

        </app-get-question-answer>
    </div>

    <div *ngIf="isCurrentAsker" class="question-bar">
        <app-question-bar (questionSubmittedEmitter)="catchQuestion($event)" (updateAsker)="updateAsker()"></app-question-bar>
    </div>
    <div *ngIf="!isCurrentAsker" class="question-bar">
        <app-info-bar [asker]="initialState.currentAsker"></app-info-bar>
    </div>
</div>

<button mat-button color="primary" (click)="startGame()" *ngIf="!gameStarted">Start game</button>
